body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.1875;
    margin: 0;
    padding: 0;
}
#auth_count_l1 {
    background-color: transparent;
    background-image: none;
    border: 0px #CCCCCC solid;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: table;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    position: relative;
    table-layout: fixed;
    text-align: left;
    width: 100%;
}
#count_l1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 15px 50px 15px;
}
#count_l1 .row {
    margin-left: -15px;
    margin-right: -15px;
}
#count_l1 .col-1,
#count_l1 .col-2,
#count_l1 .col-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: red;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
#count_l1 .col-1,
#count_l1 .col-2,
#count_l1 .col-3 {
    float: left;
}
#count_l1 .col-1 {
    background-color: transparent;
    background-image: none;
    text-align: left;
    width: 25%;
}
#count_l1 .col-2 {
    background-color: transparent;
    background-image: none;
    text-align: left;
    width: 50%;
}
#count_l1 .col-3 {
    background-color: transparent;
    background-image: none;
    text-align: left;
    width: 25%;
}
#count_l1:before,
#count_l1:after,
#count_l1 .row:before,
#count_l1 .row:after {
    content: " ";
    display: table;
}
#count_l1:after,
#count_l1 .row:after {
    clear: both;
}
@media (max-width: 480px) {
    #count_l1 .col-1,
    #count_l1 .col-2,
    #count_l1 .col-3 {
        float: none;
        width: 100%;
    }
}
#auth_Text1 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    margin: 0;
    padding: 0;
    text-align: left;
}
#auth_Text1 div {
    text-align: left;
}
#login {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px #CCCCCC solid;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000000;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}
#login:focus {
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    border-color: #66AFE9;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: 0;
}
#password {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px #CCCCCC solid;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000000;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}
#password:focus {
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    border-color: #66AFE9;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: 0;
}
#Button1 {
    background-color: #18436E;
    background-image: none;
    border: 0px #18436E solid;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: "Noto Sans";
    font-size: 17px;
    font-weight: normal;
}
#login {
    display: block;
    height: 37px;
    line-height: 37px;
    width: 100%;
    z-index: 1;
}
#password {
    display: block;
    height: 37px;
    line-height: 37px;
    margin-top: 20px;
    width: 100%;
    z-index: 2;
}
#Button1 {
    display: inline-block;
    height: 38px;
    margin-top: 20px;
    width: 96px;
    z-index: 3;
}
#auth_uid0 {
    color: #4F4F4F;
    font-family: Noto Sans;
    font-size: 20px;
}
